body {
    text-align: center;
    background: radial-gradient(circle, #6bafef, #2a5fcb);
    height: 100vh;
}

a {
    display: inline-block;
    padding: 10px 10px;
    color: #f0f7fe;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #2a5fcb;
    background-color: #264ba7;
}

a:hover {
    background-color: #3171df;
    transition: 1s;
}